button {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 800;
  border: 6px solid rgb(68, 82, 102);
  background-color: rgb(173, 205, 219);
  background-image: none;
}

button:hover {
  background-color: rgb(205, 229, 240);
}

button:active {
  background-color: rgb(230, 249, 255);
}

window {
  /* background-color: rgb(215, 245, 255); */
  background-image: linear-gradient(rgb(221, 238, 247),
    rgb(184, 224, 243));
}

#title {
  color: rgb(57, 71, 75);
  font-size: 50px;
  font-weight: 600;
}

#Instruction {
  color: rgb(36, 36, 36);
  font-size: 38px;
  font-weight: 600;
}